#navigation {
  background: palegreen;
  padding: 10px 0;
  height: 25px;
}

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navigation ul li {
  float: left;
  margin-right: 20px;
}

#navigation ul li a {
  color: green;
}
